*, *::before, *::after {
    box-sizing: border-box;
}
:host {
    background-color: var(--control-background);
    border: solid 1px var(--control-border);
    border-radius: 5px;
    padding: 8px !important;
    min-width: 230px;
    display: grid;
    grid-template-areas:
        "header checkbox"
        "content content";
    grid-template-columns: 1fr 32px;
    grid-template-rows: auto;
    cursor: pointer;
}
:host .tv-content {
    display: none;
}
:host([hidden]) {
    display: none;
}
:host([checked]) {
    color: #28664c;
    border-color: #28664c;
    font-weight: 600;
}
:host([checked]) .tv-content {
    display: grid;
}
:host([checked]) .tv-checkbox {
    visibility: hidden;
}
:host([checked]) .tv-checkmark {
    visibility: visible;
}
:host([selected]) {
    border-width: 2px;
    padding: 7px !important;
}
.tv-checkbox {
    width: 24px;
    height: 24px;
    background-color: white;
    border: solid 1px var(--control-border);
    border-radius: 5px;
    grid-area: checkbox;
    margin: auto;
}
.tv-checkmark {
    grid-area: checkbox;
    margin: auto;
    visibility: hidden;
}
.tv-checkmark.disabled {
    color: #b8ccc2;
}
.tv-content {
    grid-area: content;
    grid-template-areas:
        "icon width x height padd"
        "icon pos-x gap pos-y reset-btn";
    grid-template-columns: auto 1fr auto 1fr auto;
    align-items: center;
    justify-items: center;
    margin-top: 8px;
    color: var(--color-text-primary);
    font-weight: 400;
}
.tv-icon {
    grid-area: icon;
    color: #b8ccc2;
    margin-inline: 8px 16px;
}
.tv-size-w {
    grid-area: width;
}
.tv-size-h {
    grid-area: height;
}
.tv-pos::before {
    content: attr(data-pos);
    color: var(--color-text-disabled);
    margin-inline-end: 4px;
}
.tv-pos-x {
    grid-area: pos-x;
}
.tv-pos-y {
    grid-area: pos-y;
}
.tv-reset-btn {
    grid-area: reset-btn;
    margin-inline-start: 4px;
}
.tv-btn {
    line-height: 0;
    color: var(--color-text-secondary);
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 3px;
}
.tv-btn:hover {
    background-color: #e5e5e5;
}